body {
    background-color: #7CB6B1;
    color: #334B49;
    text-align: center;
}

#heading {
    text-align: center;
    font-size: 3rem;
    color: white;
}

.gamebutton {
    padding-top: 7px;
    padding-bottom: 2px;
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 8%;
}

.gamebutton:hover {
    padding-top: 7px;
    padding-bottom: 2px;
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 8%;
    background-color: #334B49;
}

#bottom {
    text-align: center;
    background-color: #334B49;
    color: white;
    margin-top: 3px;
    padding: 3px; 
}

